<div class = "side-menu">
    <h1 id = "logo">
        <mat-grid-list cols = "2" rowHeight = "50px">
            <mat-grid-tile>
                <p id = "green">Map&nbsp;</p>
                <p id = "white">Examples</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <div id = "login-button">
                    <button mat-stroked-button id = "login-button">LOGIN</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </h1>
    <div id = "fluid-menu">
        <mat-tab-group mat-align-tabs = "center">
            <mat-tab label = "Search">
                <div class = "content">
                    <form class = "form">
                        <mat-form-field class = "full-width">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder = "Ex. São Paulo">
                        </mat-form-field>
                    </form>
                    <h2>Controlls</h2>
                    <mat-list>
                        <mat-list-item>
                            <p class = "list-item-side-menu">
                                Opacity
                            </p>
                            <mat-slider
                                thumbLabel
                                [displayWith] = "formatLabel"
                                [(ngModel)] = "opacity"
                                tickInterval = "100"
                                min = "1" max = "100"
                                step = "1" value = "1"
                            ></mat-slider>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <p class = "list-item-side-menu">
                                Search Layer
                            </p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <p class = "list-item-side-menu">
                                Select Layer
                            </p>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-tab>
            <mat-tab label = "Results">
                <div class = "content">
                    <mat-card class = "card">
                        <mat-card-header>
                            <img mat-card-avatar src = "https://raw.githubusercontent.com/ProjetoIntegradorADSFatec/web-gis/master/src/assets/images/example.jpg">
                            <mat-card-title>&nbsp;MOD13Q1</mat-card-title>
                            <mat-card-subtitle>&nbsp;23 - 03 - 1999</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>ID: 1234</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class = "map-container">
    <div id = "map"></div>
</div>