.map-container {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.side-menu {
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: white;
}

div#logo {
    background-color: rgba(0, 44, 189);
    padding-bottom: 10px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

#green {
    color: rgb(92, 182, 111);
    display: inline;
}

#white {
    color: white;
    display: inline;
}

div#title {
    display: flex;
    align-items: center;
}

.mat-stroked-button#login-button {
    color: white;
}

.mat-stroked-button#search {
    color: white;
    background-color: green;
}

.mat-tab-group {
    margin-bottom: 48px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.mat-tab-label {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(0, 81, 128);
    width: 100%;
}

.tab-icon {
    margin-right: 8px;
}

.mat-tab-label.mat-tab-label-active {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: green;
}

.mat-grid-tile#logo {
    padding: 10px;
}

.mat-grid-tile#cloud-coverage {
    padding: 10px;
}

.mat-slider.slider-cloud-coverage {
    width: 60%;
}

.content {
    padding: 15px;
}

.full-width-search {
    padding-top: 15px;
    width: 100%;
}

.full-width-coord {
    padding-right: 10px;

}

.mat-card.card {
    max-width: 400px;
}

div#card {
    padding: 10px;
}

div#latlng {
    font-family: 'Courier New', Courier, monospace;
}

.mat-tree {
    padding: 1px;
}