.map-container {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.side-menu {
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 160, 253);
}

#fluid-menu {
    padding: 10px;
}

h1#logo {
    background-color: rgba(0, 44, 189);
    padding: 10px;
}

#green {
    color: rgb(92, 182, 111);
    display: inline;
}

#white {
    color: white;
    display: inline;
}

mat-slider {
    width: 300px;
}